@import "tailwindcss";

/* html {
  scrollbar-gutter: stable;
} */
html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-prompt), sans-serif;
  /* ป้องกันการเลื่อนทะลุขอบใน iPhone (Bounce Effect) */
  overscroll-behavior: none; 
  
  overflow-x: hidden;
  
  /* กำหนดความสูงให้พอดีจอเสมอ */
  height: 100%;
  position: relative;
}
